.createpost{
    background-color: white;
    padding: 5px;
}
#createpostdiv{
    background-color: #e7ebfe;
    padding: 11px 12px;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 76%;
    height: 80%;
}
.nav > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#loaderdiv{
    width: 100%;
    height: 119px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 380px) {
    .profilepicture {
        height: 40px;
        width: 40px;
    }
}